<div class="new_contents">
  <%= form_tag({ :controller => 'top', :action => 'create' },{ :method => :post}) do %>
    <h3>
      投稿する
    </h3>
    <textarea name="categories" placeholder="カテゴリー" rows="10" cols="30"></textarea>
    <textarea name="text" placeholder="内容" rows="10" cols="30"></textarea>
    <input type="submit" value="送信">
  <% end %>
</div>